:root {
  --header-height: 58px;
  --footer-height: 60px;
}
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  min-height: calc(100vh - calc(var(--footer-height) + var(--header-height)) - 1rem);
}

@media (min-width: 992px) {
  footer {
    height: var(--footer-height);
  }
}

footer {
  font-size: .8rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

    p {
      margin: 0;
      text-align: center;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-copy {
  cursor: copy;
}

.btn.mw, .btn-group.mw .btn, .btn-group-sm.mw .btn {
  min-width: 100px;
}

.input-group-text, .form-control, .form-select {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-secondary-rgb),var(--bs-border-opacity))!important;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-secondary-rgb),var(--bs-bg-opacity))!important;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
}

.form-control, .form-select {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important;
  &[readonly] {
    background-color: inherit !important;
  }
  &[disabled] {
    background-color: inherit !important;
  }
}

h2 {
  display: flex;
  align-items: center;
  img {
    max-height: 2rem;
    margin-right: 0.5rem;
  }
}

.my-editor {
  height: 100%;
  max-height: 80vh;
  overflow: auto;

  .cm-indent-markers::before {
    background: none !important;
  }
}
span[data-bs-original-title], label[data-bs-original-title] {
  text-decoration: underline !important;
  text-decoration-style: dotted !important;
}
.tooltip {
  white-space: pre-line;
}
.tooltip-inner {
  max-width: 60vw !important;
  text-align: justify !important;
}

.form-check p, .dropdown p {
  /*.small*/
  text-align: justify;
  font-size: 0.925rem;
  /*.lh-1*/
  line-height: 1rem !important;
  /*.py-1*/
  padding-bottom: .25rem !important;
  margin: 0 !important;
  white-space: pre-line;
}

.h36 {
  height: 36px;
}
.ability {
  width: 75px;
}
p.small {
  text-align: justify;
  font-size: 0.925em;
}
.character-info p {
  margin: 0;
}
.character-info .form-select-sm {
  min-width: 100px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: .5rem;
}
.fs-1-1 {
  font-size: 1.1rem;
}
.flex-1 {
  flex: 1;
}

.form-check-input:checked ~ .form-check-label, .form-check-input[checked] ~ .form-check-label {
  opacity: 1 !important;
}

.money+.money {
  margin-left: .25rem;
}
.gp {
  color: gold;
}
.sp {
  color: silver;
}
.cp {
  color: #b87333;
}
.w-33 {
  width: calc(100% / 3);
}